/* Estilos comuns para cabeçalho, navegação, seções e links */
header, nav, section, a {
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

nav {
    background-color: #444;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: #FFF;
}

a:hover {
    text-decoration: underline;
}

/* Estilizando as seções */
section {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: relative; /* Adicionado para posicionamento do link */
    align-items: flex-start;
    flex-wrap: wrap;
}

section h2 {
    display: block;
    text-align: center;
    font-size: 1.5em;
    color: #333;
}

section p {
    line-height: 1.4;
    text-align: justify;
}

section ul {
    text-align: justify;
}

section img {
    max-width: 70%;
    height: auto;
    margin-top: 10px;
}

/* Posicionando a imagem no canto direito apenas quando a tela for grande */
@media (min-width: 768px) {
    section img {
        flex: 1;
        max-width: 300px;
        height: auto;
        margin-top: 0;
    }
}

/* Estilizando o link de retorno ao menu */
.return-link {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #007acc;
    margin: 10px;
}

/* Estilizando o rodapé */
footer {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
    font-size: 0.8em;
}

footer a {
    color: #007acc;
}